* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

  body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
  }
  

  header {
    background-color: #ff7f50;
    color: white;
    padding: 40px 0;
    text-align: center;
    border-bottom: 5px solid #ff6347;
  }
  
  header h1 {
    font-size: 4rem;
    letter-spacing: 3px;
    font-family: 'Poppins', sans-serif;
  }
  
  header .navbar {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    border-top: 2px solid #ff6347;
  }
  
  header .navbar ul {
    list-style: none;
    display: flex;
  }
  
  header .navbar ul li {
    margin: 0 15px;
  }
  
  header .navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    transition: color 0.3s ease;
    padding: 5px 15px;
    border-radius: 50px;
  }
  
  header .navbar ul li a:hover {
    color: #ff6347;
    background-color: white;
  }
  

  .main-section {
    background-image: url('images/background.jpg'); 
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 120px 0;
    border-bottom: 5px solid #ff6347;
  }
  
  .main-section h2 {
    font-size: 5rem;
    font-weight: bold;
    margin-bottom: 20px;
    letter-spacing: 5px;
  }

.back-to-main-btn {
  position: fixed;
  top: 10px; 
  left: 10px; 
  background-color: #842c03; 
  color: white;
  padding: 8px 16px; 
  border: none;
  border-radius: 5px;
  font-size: 14px; 
  cursor: pointer;
  z-index: 1000; 
}

  .about-us {
    background-color: #ffffff;
    padding: 60px 20px;
    text-align: center;
    border-bottom: 5px solid #f4f4f4;
  }
  
  .about-us h2 {
    font-size: 3rem;
    margin-bottom: 30px;
    font-family: 'Poppins', sans-serif;
    color: #ff6347;
  }
  
  .locations {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
  }
  
  .locations div {
    width: 30%;
    background-color: #ff7f50;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
  }
  
  .locations div:hover {
    transform: translateY(-10px);
  }
  
  .locations h3 {
    font-size: 1.8rem;
    margin-bottom: 15px;
  }
  
  .locations p {
    font-size: 1.1rem;
    color: #fff;
  }
  
  .locations img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    max-width: 120px; 
  }


  .menu {
    padding: 60px 20px;
    background-color: #fff;
  }
  
  .menu h2 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 40px;
    font-family: 'Poppins', sans-serif;
    color: #ff6347;
  }
  
  .menu .item {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    margin-bottom: 30px;
    border-bottom: 2px solid #f4f4f4;
    padding-bottom: 10px;
  }
  
  .menu .item h3 {
    font-size: 2rem;
    color: #333;
    font-weight: bold;
    margin-right: 20px; 
  }
  
  .menu .item p {
    color: #777;
    font-size: 1.1rem;
    flex-grow: 1; 
  }
  
  .menu .item img {
    width: 150px;
    height: auto;
    object-fit: cover;
    border-radius: 8px; 
  }
  
  .reservation {
    background-color: #f8f8f8;
    padding: 60px 20px;
  }
  
  .reservation h2 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 40px;
    font-family: 'Poppins', sans-serif;
    color: #ff6347;
  }
  
  .form-container {
    max-width: 600px;
    margin: 0 auto;
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border: 1px solid #f4f4f4;
  }
  
  .form-container label {
    display: block;
    margin-bottom: 15px;
    font-size: 1.1rem;
  }
  
  .form-container input,
  .form-container select,
  .form-container button {
    width: 100%;
    padding: 12px;
    margin-bottom: 25px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .form-container button {
    background-color: #ff7f50;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .form-container button:hover {
    background-color: #ff6347;
    transform: scale(1.05);
  }
  .contact h2 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 40px;
    font-family: 'Poppins', sans-serif;
    color: #ff6347;

  }
  .social-media {
    text-align: center;
    padding: 30px 0;
  }
  
  .social-media h3 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: #333;
  }
  
  .social-media a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-size: 1.2rem;
    font-weight: 600;
    transition: color 0.3s ease;
  }
  
  .social-media a:hover {
    color: #ff6a00;
  }
  

.cookie-notification {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    border-radius: 5px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: opacity 0.3s ease; 
  }
  
  .cookie-notification p {
    margin-right: 20px;
  }
  
  .cookie-notification a {
    color: lightblue;
    text-decoration: none;
  }
  
  .cookie-notification button {
    background-color: #ff7f50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .cookie-notification button:hover {
    background-color: #ff6347;
  }
  
  .cookie-notification.hidden {
    opacity: 0; 
    pointer-events: none; 
  }
  
  @media (max-width: 768px) { 
    .cookie-notification {
      flex-direction: column; 
      align-items: center;
      text-align: center;
    }
    .cookie-notification p {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }

.contact img, .social-media {
  width: 50px !important; 
  height: 50px !important; 
  margin: 10px 15px; 
  display: inline-block; 
  margin-bottom: 40px;
}
#reviews {
  text-align: center;
  padding: 40px 20px;
}

#review-form {
  max-width: 500px;
  margin: 20px auto;
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
}

#review-form input,
#review-form select,
#review-form textarea,
#review-form button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#review-form button {
  background-color: #ff5c5c;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

#reviews-container {
  max-width: 600px;
  margin: 20px auto;
}

.review {
  background: white;
  padding: 15px;
  margin: 10px 0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.review strong {
  display: block;
  font-size: 1.2rem;
  color: #333;
}

.review p {
  font-size: 1rem;
  color: #555;
}

.social-media {
  text-align: left;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  margin: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.social-media h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #842c03;
}

.social-links {
  display: flex;
  justify-content: left;
  gap: 20px;
}

.social-icon {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.social-icon img {
  width: 24px;
  height: 24px;
  transition: transform 0.3s ease-in-out;
}

.social-icon:hover img {
  transform: scale(1.1);
}

.social-icon:hover {
  color: #ff5c5c;
}



